body{
    height: 200vh;
    padding-left: 18%;
}
.container{
    position: absolute;
    margin: 0;
    padding-bottom: 20px;
    padding-top: 15px;
    background-image: url("../space-suit-ellen-ripley-science-fiction-alien-movie-wallpaper-preview.jpg");
    height: 1000px;
    width: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: inline-block;
}
.top{
    position: relative;
    color: rgb(220, 220, 199);
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    font-size: larger;
    margin-top: 44px;
    font-weight: 600;
    word-spacing: 6px; 
    top: 70%;
    width: 100%;
    justify-content: center;
}
.title > strong{
    position: relative;
    font-family: 'Bebas Neue', sans-serif;
    color: rgb(215, 67, 13);
    font-size: 100px;
    top: 50%;
    width: 70%;
    
     margin-top: 2000px;  
     margin-bottom: -50px;  

}

 footer{
    text-align: center;
    position: relative;
    font-family: larger;
    display: inline;
    
}
.Starring{
    position: relative;
    text-align: center;
    color: rgb(220, 220, 199);
    font-size: 15px;
    top:70%;
    width:100%;
    
}
.producers{
    position: relative;
    text-align: center;
    color: rgb(220, 220, 199);
    font-size: 15px;
    top:70%;
    width:100%;
    justify-content: center;
}
.producedBy{
    position: relative;
    text-align: center;
    color: rgb(220, 220, 199);
    font-size: 15px;
    top:70%;
    width:100%;
    justify-content: center;
    
    
}
.last{
    position: relative;
    text-align: center;
    color: rgb(220, 220, 199);
    font-size: 15px;
    top:70%;
    width:100%;
    
}
.link{
    position: relative;
    text-align: center;
    color: rgb(220, 220, 199);
    top:70%;
    width:100%;
    

}
.container > div{
    padding-top: 650px;
}
a{
    text-decoration: none;
    color: orangered;
}
.title > strong > a{
    transform: translate(10%);
    word-spacing: 20px;
}